body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}

.btn:hover {
  background-color: white;
}

.vertical-line {
  height: 100px;
  color: white;
}

/* Hero Section */
.hero {
  height: 350px;
}

/* Contact Section */
.social-icons {
  color: black;
  margin-right: 20px;
}